body.tox-dialog__disable-scroll {
    overflow: visible!important;
}

.tinymce-help-page img {
    max-width: 100%;
    height: auto;
}

.tinymce-icon-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -25px;
    background-size: 18px 18px;
    vertical-align: middle;
}

.active .tinymce-icon-logo {
}

.page-header .tinymce-icon-logo {
    margin-left: 0;
    width: 40px;
    height: 40px;
    background-size: 38px 38px;
}

.tinymce-header {
    position: relative;
    display: block;
    background-size: cover;
    background-color: #000;
    background-image: url(../images/header-john-reed-qtRFE7MYnHo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

picture img {
    max-width: 100%;
    min-height: 260px;
    max-height: 360px;
    opacity: 0;
}

.panel-body > .tinymce-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.tinymce-header .header-content {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    transition: transform .2s ease-in-out;
}

.tinymce-header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    line-height: 36px;
    margin: 0;
    transform: translate(0, -35px);
}

.tinymce-header h1:before {
    content: '';
    display: inline-block;
    width: 118px;
    height: 100px;
    margin-right: 20px;
    transform: translate(0, 35px);
    background: url(../images/tinymce_white.svg) no-repeat;
    background-size: contain;
}

.tinymce-header .photoinfo {
    position: absolute;
    z-index: 98;
    bottom: 13px;
    right: 17px;
}

.tinymce-header .photoinfo a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

textarea + textarea {
    margin-top: 20px;
}

.panel-tinymce-mblockdemo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child,
.tinymce-mblockdemo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child {
    padding-left: inherit !important;
}

.tinymce-preview .tinymce-preview-editor,
.panel-tinymce-mblockdemo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child,
.tinymce-mblockdemo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child {
    margin: 0 auto;
    max-width: 1030px;
    display: block;
}

.tinymce-preview,
.panel-tinymce-mblockdemo .tinymce-demo-info {
    max-width: 1330px;
    margin: 0 auto;
}

.panel-tinymce-mblockdemo .tinymce-demo-info {
    padding: 2em;
}

.panel-tinymce-mblockdemo .sortitem {
    background: #f7f7f7;
}

.panel-tinymce-mblockdemo form {
    max-width: 1330px;
    margin: 0 auto;
}

.tinymce-demo {
    margin: 0 auto;
    max-width: 1030px;
}

.tinymce-mainnav {
    padding: 20px 0 25px 0;
}
